{% extends 'base.html.twig' %}

{% block title %}Pole index{% endblock %}

{% block body %}
    <h1>Pole index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pole in poles %}
            <tr>
                <td>{{ pole.id }}</td>
                <td>{{ pole.nom }}</td>
                <td>
                    <a href="{{ path('pole_show', {'id': pole.id}) }}">show</a>
                    <a href="{{ path('pole_edit', {'id': pole.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pole_new') }}">Create new</a>
{% endblock %}
