{% extends 'base.html.twig' %}

{% block title %}InfoEtudiant index{% endblock %}

{% block body %}
    <h1>InfoEtudiant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NumEtu</th>
                <th>RegimeSpecial</th>
                <th>AdresseEtu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for info_etudiant in info_etudiants %}
            <tr>
                <td>{{ info_etudiant.id }}</td>
                <td>{{ info_etudiant.numEtu }}</td>
                <td>{{ info_etudiant.regimeSpecial }}</td>
                <td>{{ info_etudiant.adresseEtu }}</td>
                <td>
                    <a href="{{ path('info_etudiant_show', {'id': info_etudiant.id}) }}">show</a>
                    <a href="{{ path('info_etudiant_edit', {'id': info_etudiant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('info_etudiant_new') }}">Create new</a>
{% endblock %}
