{% extends 'base.html.twig' %}

{% block title %}UE index{% endblock %}

{% block body %}
    <h1>UE index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Coef</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for u_e in u_es %}
            <tr>
                <td>{{ u_e.id }}</td>
                <td>{{ u_e.nom }}</td>
                <td>{{ u_e.Coef }}</td>
                <td>
                    <a href="{{ path('u_e_show', {'id': u_e.id}) }}">show</a>
                    <a href="{{ path('u_e_edit', {'id': u_e.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('u_e_new') }}">Create new</a>
{% endblock %}
